@mixin flex-center-center
    display: flex
    align-items: center
    justify-content: center

@mixin flex-top-center
    display: flex
    align-items: flex-start
    justify-content: center

@mixin flex-center-start
    display: flex
    align-items: center
    justify-content: flex-start