@import '~styles/mixins.sass'
@import '~styles/colors.sass'
    
.customers-address-container
    width: 65%
    height: 100%
    box-sizing: border-box
    animation-name: loadAddressContainer
    animation-duration: 1s
    animation-timing-function: linear
    animation-delay: 0s
    animation-iteration-count: 1
    animation-direction: alternate
    
.address-container
    width: 100%
    height: 100%
    background-color: $gray4

.header
    width: 100%
    height: 50px
    box-sizing: border-box
    padding: 10px 20px
    @include flex-center-start

.header-text
    padding-right: 10px
    font-size: 20px
    color: $black
    font-weight: 600

.header-loading
    @include flex-center-center

.header-loading-image
    width: 30px
    height: 30px

.header-loading-text
    padding-right: 10px
    font-size: 14px
    color: $gray1
    font-weight: 400
    font-style: italic

.address-list-container
    width: 100%
    height: calc(100% - 90px)
    box-sizing: border-box
    padding: 0 20px
    overflow-y: auto

.each-address-container
    width: 100%
    padding: 10px
    background: $white
    box-shadow: 0px 0px 10px $gray3
    box-sizing: border-box
    border-radius: 5px
    margin: 10px 0
    cursor: pointer

.each-address-container:hover
    box-shadow: -1px -1px 14px $gray3

.line
    width: 100%
    height: 1px
    margin: 7px 0
    background-color: $black

.text
    text-align: left
    font-size: 16px
    font-weight: 600

.text-italic
    text-align: left
    font-size: 16px
    font-style: italic

@keyframes loadAddressContainer
    0%
        width: 0%
        opacity: 0
    50%
        width: 65%
        opacity: 0.3
    100%
        width: 65%
        opacity: 1