@import '~styles/mixins.sass'
@import '~styles/colors.sass'

.close-container
    width: 100%
    height: 40px
    display: flex
    align-items: center
    justify-content: flex-end

.close-component
    @include flex-center-center
    cursor: pointer
    box-sizing: border-box
    padding: 0 20px

.close-icon
    width: 25px
    height: 25px

.close-text
    padding-left: 7px
    font-size: 16px
    font-weight: 600
    color: $black

.close-text-underline
    @extend .close-text
    text-decoration: underline