@import '~styles/mixins.sass'
@import '~styles/colors.sass'

.base-container
    width: 100%
    height: 100%
    box-sizing: border-box
    @include flex-center-center
    min-width: 500px
    min-height: 700px

.customers-list
    width: 35%
    height: 100%
    box-sizing: border-box
    padding: 10px 0

.customers-list-container
    width: 100%
    height: calc(100% - 30px)
    box-sizing: border-box
    overflow-y: auto

.list-heading
    width: 100%
    height: 30px
    font-size: 20px
    font-weight: 700
    box-sizing: border-box
    border-bottom: 1px solid $gray2
    padding-left: 10px

.customer-container
    padding: 7px 10px
    min-width: 300px
    max-height: 50px
    overflow: hidden
    box-sizing: border-box
    @include flex-center-start
    border-bottom: 1px solid black
    cursor: pointer
    animation-name: showCustomer
    animation-duration: 2s
    animation-timing-function: linear
    animation-delay: 0s
    animation-iteration-count: 1
    animation-direction: alternate

.customer-container:hover
    background-color: $gray4

.customer-container-selected
    @extend .customer-container
    background-color: $gray4

.customer-image
    width: 33px
    height: 33px
    box-sizing: border-box
    border-radius: 50%
    overflow: hidden
    border: 1px solid $gray3

.customer-details-container
    width: calc(100% - 33px)
    padding-left: 10px
    box-sizing: border-box
    display: flex
    flex-direction: column
    justify-content: center
    align-items: flex-start

.customer-name
    @include flex-center-start
    font-size: 16px
    font-weight: 600
    color: $black

.customer-details
    @include flex-center-start

.customer-age
    font-size: 12px
    font-weight: 600
    color: $gray3
    padding-left: 15px

.customer-designation
    font-size: 12px
    font-weight: 600
    color: $gray3

.full-list-container
    width: 100%
    height: 100%
    @include flex-center-center
    flex-direction: column

@keyframes showCustomer
    0%
        width: 0%
        opacity: 0
    30%
        width: 30%
        opacity: 0.1
    100%
        width: 100%
        opacity: 1
